*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 120vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url();
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 400px;
    cursor: pointer;
    margin-top:-50px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    margin-bottom: 50px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.navbar ul img{
    width: 50px;
    cursor: pointer;
    margin-top: -10px;
    margin-bottom:-15px;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
/*button {
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}*/

span {
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover {
    border: none;
}

.services {
    width: 100%;
    padding: 120px 0px;
    background-color: #fff;
}

.title{
    width: 100%;
    padding: 10px 0px;
    background-color: #fff;
}

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;

}

.wrapper{
    max-width: 75%;
    margin: auto;

}

.wrapper > p,
.wrapper > h1{
    margin: 1.5rem 0;
    text-align: center;
}

.wrapper > h1{
    letter-spacing: 3px;   
}

.accordion{
    background-color: white;
    color: rgba(0,0,0,0.8);
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.accordion i{
    font-size: 1.6rem;
}

.active, 
.accordion:hover {
    background-color: #f1f7f5;
}

.pannel{
    padding: 0 18px;
}

.pannel p{
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
    line-height: 1.4;
}
